---
import Layout from '../layouts/layout.astro'
import Header from '../components/Header.astro'
import VerticalLines from '../components/VerticalLines.astro'
import Discounts from '../components/Discounts.astro'
import Location from '../components/Location.astro'
import Footer from '../components/Footer.astro'
import boxers from '../data/clip-paths.json'
---

<Layout>
	<Header />

	<div class="relative">
		<section
			id="boxers"
			class={`
				flex justify-between relative h-[40vh] md:h-[65vh] lg:h-screen 
				pt-4 lg:pt-24 border-b border-white/10 overflow-hidden
				[&>div>img]:absolute [&>div>img]:bottom-0 [&>div>img]:w-auto
				[&>div>img]:animate-ease-in-out [&>div>img]:animate-duration-700
			`}
		>
			<div class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-[#131824] via-zinc-900 to-zinc-950 h-full w-full inset-0 absolute" />
			
			<VerticalLines />

			<div class="relative w-full">
				<img
					srcset="/boxers/coscu-mobile.webp 767w, /boxers/coscu.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					alt="Coscu"
					class="left-0 h-full z-50"
					fetchpriority="high"
					style={boxers.coscu.clip}
				/>
				
				<img
					srcset="/boxers/mayichi-mobile.webp 767w, /boxers/mayichi.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					alt="Mayichi"
					class="left-[5%] h-[80%] z-40 animate-fade-right"
					style={boxers.mayichi.clip}
				/>
				
				<img
					srcset="/boxers/viruzz-mobile.webp 767w, /boxers/viruzz.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					alt="Viruzz"
					class="left-[15%] h-[75%] z-30 animate-delay-300 animate-fade-right"
					style={boxers.viruzz.clip}
				/>
				
				<img
					srcset="/boxers/fernanfloo-mobile.webp 767w, /boxers/fernanfloo.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					alt="Fernanfloo"
					class="left-[30%] h-[70%] z-20 animate-delay-500 animate-fade-right [clip-path:polygon(64%_27%,_83%_30%,_85%_72%,_100%_100%,_0_100%,_0_0,_75%_0)];"
					style={boxers.fernanfloo.clip}
				/>
				
				<img
					srcset="/boxers/la-rivers-mobile.webp 767w, /boxers/la-rivers.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					alt="La Rivers"
					class="left-[45%] h-[68%] z-10 animate-delay-700 animate-fade-right"
					style={boxers["la-rivers"].clip}
				/>
				
				<img
					srcset="/boxers/papigavi-mobile.webp 767w, /boxers/papigavi.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					alt="Papigavi"
					class="left-[50%] h-[63%] z-0 animate-delay-1000 animate-fade-right"
					fetchpriority="low"
					style={boxers.papigavi.clip}
				/>
			</div>

			<div class="relative w-full">
				<img
					srcset="/boxers/german-mobile.webp 767w, /boxers/german.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					alt="Germán"
					class="right-0 h-full z-50"
					fetchpriority="high"
					style={boxers.german.clip}
				/>
				
				<img
					srcset="/boxers/amouranth-mobile.webp 767w, /boxers/amouranth.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					alt="Amouranth"
					class="right-[5%] h-[80%] z-40 animate-fade-left"
					style={boxers.amouranth.clip}
				/>
				
				<img
					srcset="/boxers/shelao-mobile.webp 767w, /boxers/shelao.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					alt="Shelao"
					class="right-[15%] h-[75%] z-30 animate-fade-left animate-delay-300"
					style={boxers.shelao.clip}
				/>
				
				<img
					srcset="/boxers/luzu-mobile.webp 767w, /boxers/luzu.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					alt="Luzu"
					class="right-[30%] h-[70%] z-20 animate-fade-left animate-delay-500"
					style={boxers.luzu.clip}
				/>
				
				<img
					srcset="/boxers/rivers-mobile.webp 767w, /boxers/rivers.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					alt="Rivers"
					class="right-[42%] h-[66%] z-10 animate-fade-left animate-delay-700"
					style={boxers.rivers.clip}
				/>
				
				<img
					src="/boxers/ampeter-mobile.webp"
					srcset="/boxers/ampeter-mobile.webp 767w, /boxers/ampeter.webp"
					sizes="(max-width: 767px) 767px, 100vw"
					class="right-[50%] h-[63%] z-0 animate-fade-left animate-delay-1000"
					alt="Ampeter"
					fetchpriority="low"
					style={boxers.ampeter.clip}
				/>
			</div>
		</section>

		<div
			id="info"
			class="block lg:absolute lg:bottom-16 z-50 mx-auto lg:left-1/2 lg:-translate-x-1/2"
		>
			<div class="flex flex-col">
				<div class="px-5 pt-4 pb-2 bg-white text-black text-center">
					<h2 class="font-boxing text-7xl">
						1 DE JULIO
					</h2>
				</div>

				<div class="px-5 pt-2 pb-1 bg-black text-white text-center">
					<a
						href="https://twitch.tv/ibai"
						target="_blank"
						rel="noopener noreferrer"
						class="font-boxing text-[45px] hover:contrast-150 hover:scale-105 transition inline-block"
					>
						<span class="text-white">twitch.tv/</span>
						<span class="text-yellow-300">ibai</span>
					</a>
				</div>

				<div class="px-5 pt-2 pb-1 bg-sky-600 text-black text-center">
					<a
						href="https://twitch.tv/ibai"
						target="_blank"
						rel="noopener noreferrer"
						class="hover:contrast-150 hover:scale-105 transition font-boxing text-4xl inline-block text-white"
					>
						Comprar Entradas
					</a>
				</div>
			</div>
		</div>

		<div
			id="combat"
			class="absolute bottom-16 z-50 mx-auto left-1/2 -translate-x-1/2 flex justify-center flex-col gap-y-0 opacity-0 invisible"
		>
			<div class="px-5 pt-4 pb-2 bg-black text-white text-center">
				<h3 class="font-boxing uppercase text-7xl">
					MAYICHI
				</h3>
			</div>

			<img
				src="/street-fighter-vs-logo.webp"
				alt=""
				width="64"
				height="64"
				class="w-16 mx-auto absolute left-1/2 -translate-x-1/2"
			/>

			<div class="px-5 pt-4 pb-2 bg-black text-white text-center">
				<h3 class="font-boxing uppercase text-7xl">
					AMOURANTH
				</h3>
			</div>
		</div>
	</div>

	<Discounts />
	<Location />
	<Footer />
</Layout>

<script>
	const $boxers = document.querySelector('#boxers')
	const $boxersImages = $boxers!.querySelectorAll('img')

	const $info = document.querySelector('#info') as HTMLElement
	const $combat = document.querySelector('#combat') as HTMLElement

	$boxersImages.forEach(($img) => {
		$img.addEventListener('mouseleave', () => {
			$boxersImages.forEach(($img) => {
				$img.style.filter = 'none'
				$img.style.transition = '0.3s all ease-in-out'
				$img.style.scale = '1'
			})

			$info.style.opacity = '1'
			$info.style.transition = '0.3s all ease-in-out'
			
			$combat.style.opacity = '0'
			$combat.style.transition = '0.3s all ease-in-out'
		})

		$img.addEventListener('mouseenter', () => {
			const sectionImages = $img.parentNode!.children
			const position = Array.from(sectionImages).indexOf($img)

			// get image for the left side and the right side
			const [$leftBoxer, $rightBoxer] = [
				$boxersImages[position], // El de la izquierda
				$boxersImages[position + $boxersImages.length / 2] // El de la derecha
			]

			// ocultamos la informacion
			$info.style.opacity = '0'
			$info.style.transition = '0.3s all ease-in-out'

			$combat.style.opacity = '1'
			$combat.style.visibility = 'visible'
			$combat.style.transition = '0.3s all ease-in-out'

			const [$firstBoxerName, $secondBoxerName] = $combat.querySelectorAll('h3')
			$firstBoxerName.innerHTML = $leftBoxer.alt
			$secondBoxerName.innerHTML = $rightBoxer.alt

			// ocultar los boxeadores que no interesan
			$boxersImages.forEach(($img) => {
				$img.style.filter = 'blur(2px) grayscale(0.8)'
				$img.style.transition = '0.3s all ease-in-out'
			})

			$leftBoxer.style.scale = '1.2'
			$leftBoxer.style.filter = 'contrast(1.1)'
			$leftBoxer.style.transition = '0.3s all ease-in-out'
			
			$rightBoxer.style.scale = '1.2'
			$rightBoxer.style.filter = 'contrast(1.1)'
			$rightBoxer.style.transition = '0.3s all ease-in-out'
		})
	})
</script>
